@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body{
    background-color: rgba(10, 19, 26, 0.99);
}
h2{
    color: #F7DE60;
    text-align: center;
    font-size: 2.5rem;
    padding: 1.5rem 1rem 0.5rem;
}
div#add-event-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    width: 30rem;
    padding: 0 0.7rem;
}
input, textarea{
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    margin: 0.7rem 0rem;
    border-radius: 0.4rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.13);
    color: white;
    font-size: 1rem;
}
input:focus{
    border: #F7DE60 1px solid;
}
button[type="submit"]{
    background-color: #F7DE60;
    color: rgba(10, 19, 26, 0.99);
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    margin: 0.4rem 0rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus{
  border: 1px solid #F7DE60;
  -webkit-text-fill-color: #F7DE60;
  box-shadow: none;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.623) inset;
  transition: background-color 5000s ease-in-out 0s;
}